:root {
    --mw-1: 1200px;
    --mw-2: 560px;
    --mw-3: 480px;
    --mw-4: 320px;

    --space-lg: 5rem;
    --space-md: 3rem;
    --space-sm: 1rem;

    --color-white: rgb(245, 245, 245);
    --color-black: rgb(16, 16, 16);
    --color-accent: rgb(227, 83, 54);

    --day-w: 6rem;
    --logo-h: 48px;

    --header-fs: 1.25rem
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
}

html, body {
    overflow-x: hidden;
}

/* ----- buttons ----- */
.button__cta {
    margin-top: var(--space-sm);
    padding: var(--space-sm);
    text-decoration: none;
    width: fit-content;
}

.button__cta:hover {
    background-color: var(--color-accent);
    color: var(--color-black);
}

.button__cta--white,
.button__cta--white:active {
    background-color: var(--color-white);
    color: var(--color-black);
}

.button__cta--black,
.button__cta--black:active {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* ----- school logo ----- */
.school__logo {
    width: auto;
    height: var(--logo-h);
}

/* ----- hero header ----- */
.hero__header {
    position: absolute;
    padding-top: var(--space-sm);
    padding-left: var(--space-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: linear-gradient(to bottom, var(--color-black), transparent);
}

.hero__nav {
    padding-right: var(--space-md);
}

.hero__nav__list {
    display: flex;
    gap: var(--space-sm);
}

.hero__nav__li {
    display: inline;
}

.hero__nav__link {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--header-fs);
}

.hero__nav__link:hover {
    color: var(--color-accent);
}

.hero__nav__link:active {
    color: var(--color-white);
}

/* ----- hero ----- */
.hero {
    background: no-repeat left / cover url("../media/hero/people-making-clay-pot--quino-al.jpg");
    color: var(--color-white);
    height: 100vh;
    position: relative;
    z-index: 3;
}

.hero__content {
    max-width: var(--mw-2);
    height: 100%;
    padding: 0 var(--space-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, var(--color-black), transparent);
}

.hero__title {
    margin-bottom: var(--space-sm);
    text-transform: uppercase;
}

.hero__desc {
    line-height: 2;
}

/* ----- gallery ----- */
.gallery {
    max-width: var(--mw-1);
    margin: 0 auto;
    padding: var(--space-lg) 0;
}

.gallery__title {
    margin-bottom: var(--space-sm);
    padding: 0 var(--space-sm);
    text-transform: uppercase;
}

.gallery__container {
    display: grid;
    grid-template: var(--mw-3) / repeat(3, 1fr);
    grid-auto-rows: var(--mw-3);
    grid-auto-flow: dense;
    padding: 0 var(--space-sm);
    gap: var(--space-sm);
}

.gallery-item {
    grid-area: auto / auto / span 1 / span 1;
}

.gallery-item--wide {
    grid-column: auto / span 2;
}

.gallery-item--tall {
    grid-row: auto / span 2;
}

.gallery-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----- join ----- */
.join {
    padding: var(--space-lg) 0;
}

.join__img {
    display: none;
}

/* ----- form ----- */
.form {
    max-width: var(--mw-2);
    margin: 0 auto;
    padding: 0 var(--space-sm);
}

.form__title {
    text-transform: uppercase;
    margin-bottom: var(--space-sm);
}

.form__field {
    display: block;
    width: 100%;
    margin-bottom: var(--space-md);
    padding: 8px;
    border: none;
    border-bottom: 1px solid var(--color-black);
    font-family: inherit;
}

.form__submit {
    padding: var(--space-sm);
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    text-transform: uppercase;
    font-family: inherit;
    cursor: pointer;
}

.form__submit:hover {
    background-color: var(--color-accent);
    color: var(--color-black);
}

.form__submit:active {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* ----- events ----- */
.events {
    margin: 0 auto;
    padding: var(--space-lg) 0;
    max-width: var(--mw-1);
    border-top: 1px solid var(--color-black);
}

.events__container {
    padding: 0 var(--space-sm);
}

.events__title {
    margin-bottom: var(--space-sm);
    text-transform: uppercase;
}

.event {
    gap: var(--space-sm);
    margin-top: var(--space-md);
    padding: 0 var(--space-sm);
    display: grid;
    grid-template-columns: var(--day-w) 1fr;
}

.day {
    text-align: center;
}

.day__name {
    text-transform: uppercase;
}

.event__info {
    display: flex;
    flex-direction: column;
}

.event__name,
.event__desc {
    margin-top: var(--space-sm);
}

/* ----- facilities ----- */
.facilities {
    padding-top: var(--space-lg);
}

.facilities__container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
}

.facility {
    aspect-ratio: 16 / 9;
    position: relative;
}

.facility__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.facility__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.facility__content--left {
    background: linear-gradient(to right, var(--color-black), transparent);
    padding-left: var(--space-sm);
}

.facility__content--right {
    background: linear-gradient(to left, var(--color-black), transparent);
    align-items: end;
    text-align: right;
    padding-right: var(--space-sm);
}

.facility__title {
    margin-bottom: var(--space-sm);
    text-transform: uppercase;
}

.facility__desc {
    max-width: var(--mw-2);
    line-height: 2;
}

/* ----- footer ----- */
.footer {
    padding: var(--space-md);
    background-color: var(--color-black);
    border-top: 1px solid var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav {
    display: flex;
    justify-content: right;
}

.footer__nav__li {
    display: inline;
}

.footer__nav__li+.footer__nav__li::before {
    content: " / ";
    color: var(--color-white);
}

.footer__nav__link {
    color: var(--color-white);
    text-decoration: none;
}

.footer__nav__link:hover {
    color: var(--color-accent);
}

.footer__nav__link:active {
    color: var(--color-white);
}

/* ----- media queries ----- */
@media only screen and (max-width: 488px) {
    .school__logo--footer,
    .facility__desc {
        display: none;
    }

    .footer {
        justify-content: center;
    }
}

@media only screen and (max-width: 560px) {
    .hero__nav {
        display: none;
    }
}

@media only screen and (max-width: 648px) {
    .event {
        grid-template-columns: 1fr;
    }

    .day {
        display: none;
    }
}

@media only screen and (min-width: 960px) {
    .join {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-sm);
    }
    
    .join__img {
        display: block;
        max-width: var(--mw-4);
    }

    .form {
        width: var(--mw-2);
        margin: 0;
        flex-shrink: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .hero__nav__list {
        gap: var(--space-md);
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .join {
        gap: var(--space-md);
    }

    .join__img {
        max-width: var(--mw-3);
    }

    .hero__header {
        padding-top: var(--space-md);
        padding-left: var(--space-md);
    }

    .hero__nav {
        padding-right: var(--space-md);
    }

    .hero__content,
    .events__container,
    .facility__content {
        padding: 0 var(--space-md);
    }
}